{% extends "layout.html" %}
{% block content %}
<h1>Streets</h1>

<div class="container filter-form">
  <form class="form-inline" method="get">
   <div class="form-group">
      <input type="text" name="ID" class="form-control" placeholder="Street ID" />
    </div>
	<div class="form-group">
      <input type="text" name="f_start_longitude" class="form-control" placeholder="Start Longitude From" />
    </div>
	<p>
    <div class="form-group">
      <input type="text" name="t_start_longitude" class="form-control" placeholder="Start Longitude To" />
    </div>
	</p>
  <p>
	<div class="form-group">
      <input type="text" name="f_end_longitude" class="form-control" placeholder="End Longitude From" />
    </div>
    <div class="form-group">
      <input type="text" name="t_end_longitude" class="form-control" placeholder="End Longitude To" />
    </div>
  </p>
  <p>
	<div class="form-group">
      <input type="text" name="f_start_latitude" class="form-control" placeholder="Start Latitude From" />
    </div>
    <div class="form-group">
      <input type="text" name="t_start_latitude" class="form-control" placeholder="Start Latitude To" />
    </div>
  </p>
  <p>
	<div class="form-group">
      <input type="text" name="f_end_latitude" class="form-control" placeholder="End Latitude From" />
    </div>	
    <div class="form-group">
      <input type="text" name="t_end_latitude" class="form-control" placeholder="End Latitude To" />
    </div>  
    </p>
    <button type="submit" class="btn btn-default">Filter</button>
  </form>
</div>

<a href="{{ url_for('new_street') }}" class="btn btn-default">Add New Street</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Start Longitude</th>
			<th>End Longitude</th>
			<th>Start Latitude</th>
			<th>End Latitude</th>
		</tr>
	</thead>
	<tbody>
    {% for d in streets %}
		<tr>
      <td>{{ d.data['id'] }}</td>
      <td>{{ d.data['start_longitude'] }}</td>
      <td>{{ d.data['end_longitude'] }}</td>
      <td>{{ d.data['start_latitude'] }}</td>
      <td>{{ d.data['end_latitude'] }}</td>
		</tr>
    {% endfor %}
	</tbody>
</table>
<a href="{{ url_for('new_street') }}" class="btn btn-default">Add New Street</a>
{% endblock %}
