{% extends "layout.html" %}
{% block content %}
<h1>Intersections</h1>
<a href="{{ url_for('new_intersection') }}" class="btn btn-default">Add New Intersection</a>
<table class="table">
	<thead>
		<tr>
			<th>MAC</th>
			<th>IP</th>
		</tr>
	</thead>
	<tbody>
    {% for d in intersections %}
		<tr>
      <td>{{ d.data['mac'] }}</td>
      <td>{{ d.data['ip'] }}</td>
		</tr>
    {% endfor %}
	</tbody>
</table>
<a href="{{ url_for('new_intersection') }}" class="btn btn-default">Add New Intersection</a>
{% endblock %}
